body {
font-family: "Goudy Bookletter 1911";
width: 100%;
height: 100%;
background: linear-gradient(#FEF5EF, #FDE7D9, #EED5BE, #E4BB97);
}

h1 {
color: #ffffff;
text-shadow: 2px 2px #6e9b7b;
}

h2 {
color: #386c5f;
margin: 15px;
text-shadow: 2px 2px #6e9b7b;
}

h4 {
color: #6e9b7b;
margin: 15px;
}

p {
color: #202020;
margin: 15px;
}

p.image {
padding: 15px;
}

a {
color: #00c9ff;
}

img.pic {
height: 25%;
width: 25%;
border-radius: 75%;
float: right;
border: 1px solid #104b56;
padding: 5px;
}

img.right {
height: 25%;
width: 25%;
float: right;
border-radius: 7%;
border: 1px solid #104b56;
padding: 5px;
}

.header {
font-size: 50px;
text-align: center;
background-color: #32cd79; 
text-shadow: 2px 2px #6e9b7b;
}

ul.navigation {
list-style-type: none;
overflow: hidden;
position: sticky;
top: 0;
list-style-type: none;
margin: 0px;
padding: 0px;
width: 100%;
background-color: #32cd79;
}

li.navigation { 
  float: left; 
}

li a {
display: block;
color: white;
padding: 8px 16px;
text-align: center;
}

li a:hover {
background-color: #386c5f;
color: #ecfef1;
}

li a:active {
  background-color: #386c5f;
  color: #ecfef1;
}

table {
table-layout: auto;
}

tr, td {
border: 1px solid #104b56;
padding: 10px;
color: #202020;
text-align: center;
}
