body {
font-family: "Goudy Bookletter 1911";
margin: 15px;
padding: 40px;
background-color: #FEF5EF;
}

h1 {
color: #584B53;
text-shadow: 2px 2px #D6E3F8;
}

h2 {
color: #E4BB97;
text-shadow: 2px 2px #D6E3F8;
}

h4 {
color: #E4BB97;
}

p {
color: #202020;
}

p.image {
padding: 10px;
}

a {
color: #9D5C63;
}

img.pic {
height: 25%;
width: 25%;
border-radius: 75%;
float: right;
border: 1px solid #104b56;
padding: 5px;
}

img.right {
height: 25%;
width: 25%;
float: right;
border-radius: 7%;
border: 1px solid #104b56;
padding: 5px;
}

.header {
font-size: 50px;
text-align: center;
padding: 20px;
background-color: #9D5C63; 
text-shadow: 2px 2px #D6E3F8;
}

ul.navigation {
list-style-type: none;
overflow: hidden;
position: fixed;
top: 0;
list-style-type: none;
margin: 0;
padding: 0;
width: 100%;
background-color: #D6E3F8;
}

li a {
display: block;
color: #104b56;
padding: 8px 16px;
text-align: center;
}

li a:hover {
background-color: #D6E3F8;
color: white;
}

table {
table-layout: auto;
}

tr, td {
border: 1px solid #104b56;
padding: 10px;
color: #202020;
text-align: center;
}
