body {
font-family: "Goudy Bookletter 1911";
margin: 15px;
padding: 40px;
background: linear-gradient(#FEF5EF, #FDE7D9, #EED5BE, #E4BB97);
}

h1 {
color: #584B53;
text-shadow: 2px 2px #D6E3F8;
}

h2 {
color: #584B53;
text-shadow: 2px 2px #E4BB97;
}

h4 {
color: #9D5C63;
}

p {
color: #202020;
}

p.image {
padding: 15px;
}

a {
color: #85ACEA;
}

img.pic {
height: 25%;
width: 25%;
border-radius: 75%;
float: right;
border: 1px solid #104b56;
padding: 5px;
}

img.right {
height: 25%;
width: 25%;
float: right;
border-radius: 7%;
border: 1px solid #104b56;
padding: 5px;
}

.header {
font-size: 50px;
text-align: center;
background-color: #E4BB97; 
text-shadow: 2px 2px #D6E3F8;
}

ul.navigation {
list-style-type: none;
overflow: hidden;
position: sticky;
top: 0;
list-style-type: none;
margin: 0px;
padding: 0px;
width: 100%;
background-color: #9D5C63;
}

li.navigation { 
  float: left; 
}

li a {
display: block;
color: white;
padding: 8px 16px;
text-align: center;
}

li a:hover {
background-color: #D6E3F8;
color: #584B53;
}

li a:active {
  background-color: #D6E3F8;
  color: #584B53;
}

table {
table-layout: auto;
}

tr, td {
border: 1px solid #104b56;
padding: 10px;
color: #202020;
text-align: center;
}
